__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

data/landing/**/*.parquet
data/processed/**/*.parquet
!data/landing/.gitkeep
!data/processed/.gitkeep

standalone_admin_password.txt
airflow.cfg
airflow.db
logs/
/dags/__pycache__/

.docker/
.DS_Store
Thumbs.db

postgres_data/